.first-cleaning-office {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main-cleaning-office {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.cleaning-office {
  text-align: center;
  font-style: bold;
  font-size: 36px;
}

.cleaning-office-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* bg-slate-200 rounded-md p-2 mt-4 */
  border-radius: 8px;
  border: none;
  z-index: 999;
  margin-top: 20px;
  padding: 8px;
  background-color: red;
  cursor: pointer;
}

.cleaning-office-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 96vw;
  font-size: 16px;
}

.cleaning-office-duty {
  text-align: center;
}

/* bg-gray-300 m-5 p-2 rounded-md */
.cleaning-office-task {
  background: #f9f9f9;
  border: 1px solid #e7e4e4;
  border-radius: 10px;
  padding: 15px;
  margin: 8px;
  width: 50%;
}

.cleaning-office-letter {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(18, 14, 109);
}

.cleaning-button {
  display: flex;
  gap: 16px;
}

.cleaning-office-button-box {
  display: flex;
  gap: 16px;
}

.remove-btn {
  font-size: 12px;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cleaning-office-people-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.cleaning-office-person {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
